.hidden {
    display: none;
}

.login-form {
    display: flex !important;
    flex-direction: column !important;
    width: 300px;
}

#login-button {
    width: 200px;
    margin: auto;
}

.form-input {
    margin: 20px;
}

.login-status-div, .logout-status-div {
    width: 300px;
    padding: 10px;
}

.login-status-success-div, .logout-status-success-div {
    background-color: #5cb85c;
}

.login-status-error-div, .logout-status-error-div {
    background-color: #d9534f;
}

.login-status-label, .logout-status-label {
    color: white;
}

.home-page, .login-page {
    margin-top: 50px;
    padding: 0px 100px;
}

.token-div {
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.token-div p {
    word-wrap: break-word;
}
