.hidden {
    display: none;
}

.login-form {
    display: flex !important;
    flex-direction: column !important;
    width: 300px;
}

#login-button {
    width: 200px;
    margin: auto;
}

.home-page, .login-page {
    margin-top: 50px;
    padding: 0 100px;
}

.token-div {
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.token-div p {
    word-wrap: break-word;
}
